<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/Capstone2/Index.html"> Money Money </a>

        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>  <a class="navbar-brand" href="/Capstone2/home/about.html"> About </a></li>
                <li><a class="navbar-brand" href="/Capstone2/home/contact.html"> Contact </a></li>
                <li><a class="navbar-brand" href="/Capstone2/userprofile/graphs.html"> Graphs </a></li>
                <li><a class="navbar-brand" href="/Capstone2/userprofile/profile.html"> Profile </a></li>
                <li><a class="navbar-brand" href="/Capstone2/userprofile/login.html"> Log In </a></li>
            </ul>
        </div>
    </div>
</div>